.container {
  margin: 50px auto;
  background-color: #1b1464;
  color: #ffffff;
  border-radius: 6px;
  box-shadow: 1px 6px 8px #2f3542;
}
.container p {
  font-size: 18px;
  background-color: #1b1464;
}
.container h1 {
  font-size: 5rem;
  background-color: #1b1464;
}
.signup-form {
  width: 600px;
  margin: 0px auto;
  height: max-content;
}
.form-group > .form-control {
  box-shadow: 1px 4px 8px 1px gray;
  padding: 10px;
  margin-top: 30px;
}
